* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background: #0b1120;
  color: #e5e7eb;
  line-height: 1.9;
}

/* progress */
#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background: #00f5ff;
}

/* sidebar */
.sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  background: #0f172a;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}

.sidebar a:hover {
  background: #00f5ff;
  color: black;
}

/* content */
.content {
  margin-left: 280px;
  padding: 35px;
}

section {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 15px;
}

/* logo */
.logo {
  width: 32px;
  vertical-align: middle;
  margin-right: 10px;
  background: white;
  padding: 3px;
  border-radius: 6px;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 12px;
  text-align: center;
}

/* quiz */
.quiz-box button {
  margin: 6px;
  padding: 10px 15px;
  background: #00f5ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.quiz-box button:hover {
  transform: scale(1.05);
}

.certa {
  background: #00ff88 !important;
  color: black;
}

.errada {
  background: #ff3b3b !important;
  color: white;
}

/* top button */
#topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #00f5ff;
  border: none;
}

/* mobile */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
  }

  .content {
    margin-left: 0;
  }
}
